* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set global font and background */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #dadada;
  color: #333;
}
.logo {
  background: transparent;
  
}
#nav {
background-color: #edecec;
}
